/node_modules
/public/storage
/storage/*.key
/storage/framework/sessions
/vendor
/.idea
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
clear
.cursorrules
.DS_Store
