.layout-sidebar-large .main-header .logo img{
    width: auto;
}


#login{

    .auth-layout-wrap{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .auth-logo img {
        width: 100px;
        height: auto;
    }
}



